@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
#serwice .serwices .serwices__serwice h3,
#head .head__navigationlist ul a,
#head .button_contact a,
#skills .skills__list li,
#examples .examples__linkloadmore .loadmore p,
#quote .blockquote p,
#feedback .feedback__button a {
  font-family: "Montserrat", sans-serif;
  color: #fffefd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
}

#cases .cases .cases__case h3,
#cases .cases .cases__case p {
  font-family: "Montserrat", sans-serif;
  color: #0c0c0c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

#workprocess .workprocess .workprocess__content p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #808082;
}

#serwice .serwices .serwices__serwice p,
#head .head__WeDesign p,
.about p,
#feedback .feedback__promotext p,
#feedback .feedback__input,
#footerinfo .footerinfo .footerinfo__designetby p,
#footerinfo .footerinfo .footerinfo__emailtel p,
#footerinfo .footerinfo .footerinfo__lists {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4b4b4b;
}

#head .head__WeDesign h1,
.about h2,
#skills .skills__block .skills__title,
#workprocess .workprocess .workprocess__content h2,
#quote .blockquote blockquote,
#feedback .feedback__promotext h2,
#footerinfo .footerinfo .footerinfo__designetby h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1e1c1d;
}

#serwice .serwices .serwices__serwice h3 {
  color: #0c0c0c;
  font-weight: 600;
  margin: 15px 15px;
}

#serwice .serwices .serwices__serwice p {
  color: #8d7373;
  line-height: 20px;
}

body {
  width: 1330px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*------------------------------------------ Head Section Start ----------------------------------------------------*/
#head {
  display: block;
  width: 100%;
  height: 670px;
  background: url(../img/head_1.jpg) 0 0 no-repeat;
}

#head .head__navigationlist {
  display: block;
  max-width: 600px;
  margin-right: 60px;
  margin-left: auto;
  padding-top: 30px;
}

#head .head__navigationlist ul li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 10px 0 10px;
  display: inline;
}

#head .head__navigationlist ul a {
  color: rgba(0, 0, 0, 0.719);
  font-weight: 800;
  height: 11px;
}

#head .head__navigationlist ul li.active a {
  color: #0cc9c2;
}

#head .head__WeDesign {
  max-width: 490px;
  max-height: 400px;
  margin-left: auto;
  margin-right: 150px;
  margin-top: 80px;
}

#head .head__WeDesign h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1e1c1d85;
}

#head .head__WeDesign p {
  line-height: 30px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #1c1c1d;
}

#head .button_contact {
  display: block;
  height: 40px;
  width: 170px;
  background: #10c9c3;
  margin-top: 30px;
  padding: 15px 25px;
}

#head .button_contact a {
  color: #fffefd;
  padding: 10px 10px 10px 10px;
}

/*------------------------------------------ Head Section End ----------------------------------------------------*/

/*------------------------------------------ About Section Start ----------------------------------------------------*/
.about {
  width: 100%;
  height: 400px;
}

.about .about__textblock {
  max-width: 700px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  text-align: center;
}

.about h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1e1c1d85;
}

.about p {
  line-height: 30px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #1c1c1d;
}

.about__signature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*------------------------------------------ About Section End ----------------------------------------------------*/

/*------------------------------------------ Skills Section Start ----------------------------------------------------*/
#skills {
  width: 100%;
  height: 450px;
  background: url(../img/body_1.jpg) bottom left no-repeat;
}

#skills .skills {
  width: 800px;
  height: 448px;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  padding: 50px;
  position: relative;
}

#skills .skills__block {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 200px;
  margin-left: -300px;
  margin-top: -100px;
}

#skills .skills__block .skills__title {
  color: #1e1c1d85;
}

#skills .skills__list li {
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

#skills .skills__list .skill {
  display: block;
  width: 600px;
  height: 50px;
}

#skills .skills__list .skill.skill-75 {
  background: url(../img/75.jpg) bottom left no-repeat;
}

#skills .skills__list .skill.skill-90 {
  background: url(../img/90.jpg) bottom left no-repeat;
}

#skills .skills__list .skill.skill-60 {
  background: url(../img/60.jpg) bottom left no-repeat;
}

/*------------------------------------------ Skills Section End ------------------------------------------------------*/

/*------------------------------------------ Cases Section Start -----------------------------------------------------*/
#cases {
  height: 250px;
  background: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#cases .cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#cases .cases .cases__case {
  width: 250px;
  margin: 1.5rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

#cases .cases .cases__case_projects {
  background-image: url("../img/airplay.svg");
}

#cases .cases .cases__case_hours {
  background-image: url("../img/timer.svg");
}

#cases .cases .cases__case_feedbacks {
  background-image: url("../img/star.svg");
}

#cases .cases .cases__case_clients {
  background-image: url("../img/like.svg");
}

#cases .cases .cases__case h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #0c0c0c;
  font-size: 18px;
}

#cases .cases .cases__case p {
  color: black;
  font-weight: 600;
  color: #0c0c0c;
  font-size: 12px;
}

/*------------------------------------------ Cases Section End -------------------------------------------------------*/

/*------------------------------------------ Examples Section Start -------------------------------------------------------*/
#examples {
  height: 680px;
  display: block;
  width: 100%;
  position: relative;
}

#examples .examples__block {
  height: 100%;
  width: 102%;
  position: absolute;
}

#examples .examples__block .examples__example {
  display: inline-block;
  width: 330px;
  height: 290px;
}

#examples .examples__block .examples__example_book {
  background: url(../img/services_1.jpg) no-repeat;
}

#examples .examples__block .examples__example_phone {
  background: url(../img/services_2.jpg) no-repeat;
}

#examples .examples__block .examples__example_bag {
  background: url(../img/services_3.jpg) no-repeat;
}

#examples .examples__block .examples__example_stone {
  background: url(../img/services_4.jpg) no-repeat;
}

#examples .examples__block .examples__example_glass {
  background: url(../img/services_5.jpg) no-repeat;
}

#examples .examples__block .examples__example_bag2 {
  background: url(../img/services_6.jpg) no-repeat;
}

#examples .examples__block .examples__example_honey {
  background: url(../img/services_7.jpg) no-repeat;
}

#examples .examples__block .examples__example_balzam {
  background: url(../img/services_8.jpg) no-repeat;
}

#examples .examples__block .examples__example_book {
  background: url(../img/services_8.jpg) no-repeat;
}

#examples .examples__linkloadmore {
  display: inline-block;
  position: absolute;
  height: 100px;
  width: 100%;
  background: #e7e5e5bd;
  margin-top: 580px;
}

#examples .examples__linkloadmore .loadmore {
  display: block;
  text-align: center;
  height: 40px;
  width: 150px;
  position: relative;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#examples .examples__linkloadmore .loadmore p {
  color: blanchedalmond;
  font-weight: 600;
}

#examples .examples__linkloadmore .loadmore a {
  color: #808082;
}

/*------------------------------------------ Examples Section End -------------------------------------------------------*/

/*------------------------------------------ Workprocess Section Start -------------------------------------------------------*/
#workprocess {
  display: block;
  height: 800px;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.021);
}

#workprocess .workprocess {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#workprocess .workprocess .workprocess__content {
  position: absolute;
  top: -15%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#workprocess .workprocess .workprocess__content h2 {
  margin-bottom: 20px;
  margin-top: 30px;
}

#workprocess .workprocess .workprocess__content p {
  line-height: 30px;
  margin-bottom: 50px;
}

#workprocess .workprocess .workprocess__content video {
  height: 500px;
}

/*------------------------------------------ Workprocess Section Start -------------------------------------------------------*/

/*------------------------------------------ Serwices Section Start -----------------------------------------------------*/
#serwice {
  height: 400px;
  display: block;
  width: 100%;
  position: relative;
  background: #e7e5e5bd;
}

#serwice .serwices {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#serwice .serwices .serwices__serwice {
  display: inline-block;
  width: 270px;
  margin: 27px;
  padding-top: 50px;
  padding-left: 10px;
  text-align: center;
}

#serwice .serwices .serwices__serwice_design {
  background: url(../img/diamond.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_development {
  background: url(../img/arc.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_mobile {
  background: url(../img/phone.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_gamedesign {
  background: url(../img/joy.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_SEO {
  background: url(../img/plane.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_photography {
  background: url(../img/star.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_graphicdesign {
  background: url(../img/magic-wand.png) top center no-repeat;
}

#serwice .serwices .serwices__serwice_illustrations {
  background: url(../img/bucket.png) top center no-repeat;
}

/*------------------------------------------ Serwices Section End -----------------------------------------------------*/

/*------------------------------------------ Quote Section Start -----------------------------------------------------*/
#quote {
  height: 400px;
  display: block;
  width: 100%;
  position: relative;
  background: #10c9c3;
}

#quote .blockquote {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#quote .blockquote blockquote {
  text-align: center;
  color: #f5f5f5;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
}

#quote .blockquote p {
  letter-spacing: 2px;
  margin: 30px;
}

/*------------------------------------------ Quote Section End -----------------------------------------------------*/

/*------------------------------------------ Feedback Section Start -----------------------------------------------------*/
#feedback {
  height: 600px;
  display: block;
  width: 100%;
  position: relative;
  background: #e7e5e5bd;
}

#feedback .feedback__promotext {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: center;
}

#feedback .feedback__promotext h2 {
  margin-bottom: 30px;
}

#feedback .feedback__promotext p {
  line-height: 25px;
}

#feedback .feedback__input {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#feedback .feedback__input_YourTitle {
  width: 400px;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#feedback .feedback__input_YourTitle:focus {
  -webkit-box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
  box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

#feedback .feedback__input_youname {
  width: 190px;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#feedback .feedback__input_youname:focus {
  -webkit-box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
  box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

#feedback .feedback__input_Yourmail {
  width: 190px;
  height: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

#feedback .feedback__input_Yourmail:focus {
  -webkit-box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
  box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

#feedback .feedback__input_YourComment {
  width: 400px;
  height: 150px;
  padding-left: 10%;
  text-align: left;
  resize: none;
}

#feedback .feedback__input_YourComment:focus {
  -webkit-box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
  box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

#feedback .feedback__button {
  display: block;
  height: 40px;
  width: 200px;
  background: #10c9c3;
  margin-top: 30px;
  padding: 15px 30px;
  position: absolute;
  top: 85%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#feedback .feedback__button:focus {
  -webkit-box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
  box-shadow: 1px 1px 20px rgba(100, 228, 237, 0.884);
}

#feedback .feedback__button a {
  color: #fffefd;
  padding: 10px 10px 10px 10px;
}

/*------------------------------------------ Feedback Section End -----------------------------------------------------*/

/*------------------------------------------ Footerinfo Section Start -----------------------------------------------------*/
#footerinfo {
  height: 250px;
  display: block;
  width: 100%;
  position: relative;
  background: #141414;
}

#footerinfo .footerinfo {
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1200px;
}

#footerinfo .footerinfo .footerinfo__designetby {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10%;
  margin-right: -70%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 280px;
  height: 100px;
  padding: 20px;
}

#footerinfo .footerinfo .footerinfo__designetby h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f5f5f5;
}

#footerinfo .footerinfo .footerinfo__designetby p {
  font-size: 15px;
  line-height: 20px;
  color: #f5f5f5;
}

#footerinfo .footerinfo .footerinfo__emailtel {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 30%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-left: 140px;
}

#footerinfo .footerinfo .footerinfo__emailtel p {
  font-size: 15px;
  line-height: 20px;
  color: #f5f5f5;
}

#footerinfo .footerinfo .footerinfo__lists {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 650px;
  height: 100px;
  font-size: 15px;
  line-height: 20px;
}

#footerinfo .footerinfo .footerinfo__lists .footerinfo__list {
  display: inline-block;
  margin-left: 40px;
  width: 100px;
  height: 100px;
}

#footerinfo .footerinfo .footerinfo__lists .footerinfo__list a {
  color: #f5f5f5;
}

/*------------------------------------------ Footerinfo Section End -----------------------------------------------------*/
